<head>
  {% if page.title %}
  <title>{{ page.title }} | Test Page</title>
  {% else %}
  <title>Test Page: Don't Panic</title>
  {% endif %}
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% else %}
  <meta name="description" content="This is dangerous site.">
  {% endif %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/favicon.png" rel="icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:100" rel="stylesheet">
  <script src="https://kit.fontawesome.com/fee4b8c39e.js" crossorigin="anonymous"></script>
  <link href="/css/main.css" rel="stylesheet">
</head>
